    <p>Hi {{profile.displayName}}!</p>
    <h2>Profile Information</h2>
    <ul>
        <li>Name: {{profile.displayName}}</li>
        <li>Email: {{profile.mail}}</li>
        <li>Klasse: {{profile.jobTitle}}</li>
        <!-- Add more profile fields as needed -->
    </ul>

    <h2>Emails</h2>
    <ul>
        {{#each emails.value}}
        <li>{{subject}} - {{from.emailAddress.name}}</li>
        {{/each}}
    </ul>
    <a href="/auth/signout">Abmelden</a>