<h1>Email Body</h1>
{{#if body}}
  {{{ body }}}
{{else}}
  <p>No email body found</p>
{{/if}}
{{#if hasAttachments}}
  <h2>Attachments</h2>
  <ul>
    {{#each attachments}}
      <li><a href="/attachments/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
{{/if}}

{{#if hasNextPage}}
  <a href="/emails/{{nextPage}}">Next page</a>
{{/if}}

{{#if hasPrevPage}}
  <a href="/emails/{{prevPage}}">Previous page</a>
{{/if}}

<a href="/emails">Go back to emails</a>
